<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1>Hello World!</h1>

    </br>

    <% for(var i=0; i<content.length; i++) {%>
    <h2>第<%=i+1 %>本</h2>
          <p>Title: <%= content[i].title %> </p>
          <p>Author: <%= content[i].author %> </p>
          <p>Category: <%= content[i].category %> </p>
          <p>Date: <%= content[i].date %> </p>

          <p>Comments:</p>
          <ul>
              <% for(var j=0; j<content[i].comments.length; j++) {%>
                    <li><%= content[i].comments[j].body %></li>
              <% } %>
          </ul>
    <% } %>
</body>
</html>